<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings> 
      <add key="logFile" value="iServerToServiceNowExchanger.log"/>
      <add key="logLevel" value="4"/> <!-- 0...4 -->
      <add key="proxy" value="" />
      <add key="serviceNowUploadURLObject" value="https://damcodev.service-now.com/sys_import.do?sysparm_import_set_tablename=u_iserver_objects&amp;sysparm_transform_after_load=true" />
      <add key="serviceNowUploadURLRelation" value="https://damcodev.service-now.com/sys_import.do?sysparm_import_set_tablename=u_iserver_relations&amp;sysparm_transform_after_load=true" />
      <add key="serviceNowDownloadURLObject" value="https://damcodev.service-now.com/u_iserver_object_export_list.do?EXCEL" />
      <add key="serviceNowDownloadURLRelation" value="https://damcodev.service-now.com/u_iserver_relation_export_list.do?EXCEL" />
      <add key="serviceNowUploadOrder" value="Object,Relation" />
    </appSettings>
</configuration>